<%- include("partials/header"); -%>
<h1>Compose</h1>
<form class="" action="/" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input class="form-control" id="title" name="title" />
  </div>
  <div class="mb-3">
    <label for="info" class="form-label">Post</label>
    <textarea class="form-control" id="info" name="post" rows="3"></textarea>
  </div>
  <br />
  <button type="submit" class="btn btn-primary mb-3">Publish</button>
</form>
<%- include("partials/footer"); -%>
